@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
html{
    background-color: pink;
}

* {
    box-sizing: border-box;
    outline: 0;
  }

body{

    padding: 0;
    margin: 0;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}


.container{

    max-width: 640px;
    margin: 50px auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}

form input, form label, form button{

    display: block;
    width: 100%;
    margin-bottom: 10px;
}


form button{

    border-radius: 10px;
    border-color: rgb(211, 151, 211);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
    background: whitesmoke;
    margin-top: 50px;

}

form label{

    font-size: 18px;
    font-weight: 700;

}

form input{

    height: 25px;
    font-size: 24px;

}


form button:hover{
    background: pink;
}

.paregrafo-resultado, .bad{
    background: rgb(140, 197, 145);
    padding: 20px;
}

.bad{
    background: rgb(185, 127, 127);

}